@model IEnumerable<WebApplication1.Models.CartItems>

@* <h2>Your Cart</h2>

<div class="cart-container">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="cart-item">
                <img src="@item.ItemImage" alt="@item.ItemName" width="50" height="50" />
                <p>@item.ItemName (x @item.Qty) - @item.Price</p>
                <p>Total: @(item.Price * item.Qty)?.ToString("C")</p>
            </div>
        }
    }
    else
    {
        <p>Your cart is empty.</p>
    }
</div>
 *@